/* h1{
    color: blueviolet;
}
#thirdDiv{
    height: 600px; width: 500px;
    background-color: darkgrey;
    padding: 50px;
    border: 1px solid darkgray;
}*/

/* #spanId{
    font-size: 18px;
    margin: 50px;
} */

*{
    box-sizing: border-box;
}

body{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: rgb(2, 48, 2);
    padding: 0;
    margin: 0;
}

.divClass{
    text-align: center;
}

img{
    width: 250px;
    display: block;
}

a{
    color: white;
}

#thirDiv{
    border: 1px solid red;
    width: 90vw;
}

#thirdDiv ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#thirdDiv ul li{
    list-style: none;
    text-align: center;
    margin: 0 20px;
}

.container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/15/04/wood-1853403_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 18px;
    height: 100vh;
}